<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWLgHUUIB5_E-l88mR70Uv_jfFDm_dYhw</string>
	<key>GCM_SENDER_ID</key>
	<string>545091316724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sera.dev.bisetka.staging</string>
	<key>PROJECT_ID</key>
	<string>bisetka-e82d8</string>
	<key>STORAGE_BUCKET</key>
	<string>bisetka-e82d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545091316724:ios:ddc1502c4fa68ab58de7a1</string>
</dict>
</plist>
