<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVwnP4-rVd7TSyFwvnZqruzRGjwPjwLm0</string>
	<key>GCM_SENDER_ID</key>
	<string>378583720606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sera.dev.bisetka</string>
	<key>PROJECT_ID</key>
	<string>bisetka-59c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>bisetka-59c3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378583720606:ios:3cb347688373938567118f</string>
</dict>
</plist>